<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anthony.conceal.dao.AccountMapper">

<select id="queryAccountByPaging" parameterType="java.util.HashMap" resultType="accountDTO">

</select>

</mapper>