<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anthony.conceal.dao.AccountMapper">

    <select id="queryAccountByPaging" parameterType="java.util.HashMap" resultType="accountDTO">
        SELECT
            id               AS id,
            owner_id         AS ownerId,
            account_name     AS accountName,
            account_password AS accountPassWord,
            account_desc     AS accountDesc,
            account_url      AS accountUrl,
            account_type     AS accountType,
            create_date      AS createDate,
            update_date      AS updateDate
        FROM account_tbl
        WHERE owner_id = (SELECT id
                          FROM user_tbl
                          WHERE user_name = #{userName}) AND data_state = '1'
        ORDER BY update_date DESC
        LIMIT #{startIndex}, #{pageSize}
    </select>

    <select id="queryAccountCountByUserName" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(1)
        FROM account_tbl
        WHERE owner_id = (SELECT id
                          FROM user_tbl
                          WHERE user_name = #{userName}) AND data_state = '1'
    </select>

    <delete id="delAccountByIDs" parameterType="java.util.List">
        DELETE FROM account_tbl
        <where>
            id in
            <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
    </delete>

    <insert id="addAccount" parameterType="accountDTO">
        INSERT INTO account_tbl (owner_id, account_name, account_password, account_desc, account_url, account_type)
        VALUES (#{ownerId}, #{accountName}, #{accountPassWord}, #{accountDesc}, #{accountUrl}, #{accountType})
    </insert>

</mapper>