<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anthony.conceal.dao.CommonMapper">

    <select id="getDictMapByColumnName" parameterType="java.util.List" resultType="dataDictDTO">
        SELECT
        column_name as columnName,
        column_code as columnCode,
        column_desc as columnDesc
        FROM data_dict_tbl
        <where>
            column_name in
            <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
    </select>

</mapper>