<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anthony.conceal.dao.UserMapper">

    <select id="getUserDTObyUserName" parameterType="java.lang.String" resultType="userDTO">
        SELECT
            id          AS id,
            user_name   AS userName,
            pass_word   AS passWord,
            telephone   AS telephone,
            e_mail      AS eMail,
            create_date AS createDate,
            update_date AS updateDate
        FROM user_tbl
        WHERE data_state = TRUE AND user_name = #{username}
    </select>

</mapper>